html{
	background-color: #F4EDE4;
	color: black;
}

body{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-family: Consolas,monaco,monospace; 
}

header{
	text-align: center;
}

main{
	background-color: #F4EDE4;
	padding: 3%;
}

main section{
	background-color:#F4EDE4;
	color: black;
	border-radius: 25px;
	padding: 10px;
}

#slogan{
	padding:-30px; 
	margin:-30px; 
	text-align: center;
	font-size: 25px;
}

header ul li{
	padding-left: 20px; 
	text-align: center;
	list-style-type: none;
	display: inline-block;
}

a {
	text-decoration: none;
}

#logo{
	display: block;
  	margin-left: auto;
  	margin-right: auto;	
	width: 50%;
	padding: 100px;
	padding-top: 40px;
	padding-left: 60px;
}

#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}
  
#lists{
	float: left;
}

#titlename{
	text-align: center;
	font-size: 400%;
}
  
#links{
	display: block;
	color: #7A3434;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 100%;
}

#links:hover {
	background-color: #111;
}

footer{
	text-align: left;
	padding-left: 10px; 
	clear: both;
	border-top: 2px solid black;
}

@media screen and (max-width: 800px) {

	body{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		font-family: Consolas,monaco,monospace; 
	}

	html{
		font-size: 13px;
	}

	header{
		padding-right: 35px;
	}

	header ul li{
		margin-left: -20px; 
		text-align: center;
		list-style-type: none;
	}

	main section{
		background-color: white;
		color: black;
		text-align: center;
		border-radius: 15px;
		padding: 10px;
	}

	a {
		text-decoration: none;
		color: black;
	}

	footer{
		text-align: center;
		padding-left: 0px; 
	}
}

#burgundy {
	color: #7A3434;
}

#white {
	color: white;
}

#black {
	color: black;
}

@media screen and (min-width: 801px) and (max-width: 980px) {
	html{
		font-size: 20px;
	}

	nav ul li a{
		padding: 10px;
		font-size: 20px;
		text-decoration: none;
	}
}