html{
	background-color: #F4EDE4;
	color: black;
}

#titlename{
    text-align:center;
}

#question1{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;
}
#question2{
    padding-top: -10px;
    font-size: 35px;
    padding-left: 100px;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: left;
}
#tfive1{
    padding-left: 10px;
    text-align: left;
    font-size: 40px;
    margin-bottom: -100px;

}



#diagnose{
    font-size: 25px;
}

#quote{
    font-size: 30px;
    color: #0D4F8B;
    text-align: left;
    padding-left: 20px;
}


#burgundy{
    color: #7A3434;
}




.imgcontainer {
    position: absolute;
    top: 70;
    right: 0;
    height: 100%;
  }



/* nav bar css */
#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
    border-radius: 20px;
}

#lists{
	float: left;
}

#links{
	display: block;
	color: #7A3434;
	text-align: center;
	padding: 20px 18px;
	text-decoration: none;
	font-size: 100%;
}

#logosize{
	float: right;
}

#logolinks{
	display: block;
	width: 45px;
	padding-top: 5px;
	padding-right: 5px;
    height: auto;
}
